<div class="row">
	<div class="span6 offset3" >
		<% @page_title = 'Edit Account' %>

		
			
<div class="well">
			
			<legend>Edit Account</legend>	
			<%= render 'form' %>
			
			
<br />
				
		</div>

	</div>

</div>