<div class="row-fluid">
	<div class="span6 offset3" >
		<% @page_title = 'Create Account' %>

		
			
<div class="well">
			
			<legend>New Account</legend>	
			<%= render 'form' %>
			
			
<br />
				
		</div>

	</div>

</div>