<div class="row">
	<div class="span4 offset4">
<% @page_title = "Delete Task: #{@task.subject}" %>


<div class="user delete">
  <h2>Delete Task</h2>
  
  <%= form_for(:task, :url => {:action => 'destroy', :id => @task.id}) do |f| -%>

    <p>Are you sure you want to permanently delete this task?</p>
  
    <p class="reference-name"><%= @task.subject %></p>
  
    <div class="form-buttons">
    	<%= link_to("Back to List", {:action => 'list'}, :class => 'btn btn-inverse') %>
      <%= submit_tag "Delete Task", :class => "btn btn-danger" %>
    </div>
    
  <% end %>
</div>
</div>
</div>
