<div class="row">
	<div class="span6 offset3" >
		<% @page_title = 'Create Task' %>

		
			
<div class="well">
			<%= form_for(:task, :url => {:action => 'create'}, :html =>{:class=>"form-horizontal"}) do |f| %>
			<legend>Create Task</legend>	
			<%= render(:partial => 'form', :locals => {:f => f} ) %>
			
			<div class="form-buttons pull-right" >
				<%= link_to("Back to List", {:action => 'list'}, :class => 'btn btn-inverse') %>
				<%= submit_tag 'Create Task', :class =>"btn btn-primary" %>
			</div>
<br />
			<% end %>
		</div>

	</div>

</div>