<div class="row">
	<div class="span6 offset3" >
		<% @page_title = 'Edit Task' %>

		
			
<div class="well">
			
			<legend>Edit Task</legend>	
			<%= render "form"  %>
			
			
<br />
					</div>

	</div>

</div>