<div class="row">
	<div class="span4 offset4">
		<% @page_title = "Edit Admin User: #{@user.name}" -%>

		<div class="user edit">
			<h2>Edit Admin User</h2>

			<%= form_for(:user, :url => {:action => 'update', :id => @user.id}) do |f| %>

			<%= render(:partial => 'form', :locals => {:f => f} ) %>

			<div class="form-buttons" style="margin-left: 80px;">
				<%= link_to("<< Back to List", {:action => 'list'}, :class => 'btn btn-inverse') %>
				<%= submit_tag 'update User', :class =>"btn btn-primary" %>
			</div>

			<% end %>
		</div>
	</div>
</div>
