<div class="row">
	<div class="span8 offset2">
		<% @page_title = "Edit Contact: #{@contact.name}" -%>

		
			<h2>Edit Contact</h2>

			<%= form_for(:contact, :url => {:action => 'update', :id => @contact.id}) do |f| %>

			<%= render(:partial => 'form', :locals => {:f => f} ) %>

			<div class="form-buttons" style="margin-left: 80px;">
				<%= link_to("<< Back to List", {:action => 'list'}, :class => 'btn btn-inverse') %>
				<%= submit_tag 'update Contact', :class =>"btn btn-primary" %>
			</div>

			<% end %>
	
	</div>
</div>
