<div class="row">
	<div class="span4 offset4">
<% @page_title = "Delete Contact: #{@contact.name}" %>


<div class="user delete">
  <h2>Delete Admin User</h2>
  
  <%= form_for(:contact, :url => {:action => 'destroy', :id => @contact.id}) do |f| -%>

    <p>Are you sure you want to permanently delete this contact?</p>
  
    <p class="reference-name"><%= @contact.name %></p>
  
    <div class="form-buttons">
    	<%= link_to("Back to List", {:action => 'list'}, :class => 'btn btn-inverse') %>
      <%= submit_tag "Delete Contact", :class => "btn btn-danger" %>
    </div>
    
  <% end %>
</div>
</div>
</div>
