<div class="row">
	<div class="span4 offset4">
<% @page_title = "Delete Contact: #{@contact.name}" %>


<div class="user delete">
  <h2>Delete Admin User</h2>

    <p>Are you sure you want to permanently delete this contact?</p>
  
    <p class="reference-name"><%= @contact.name %></p>
  
    <div class="form-buttons">
    	<%= link_to "Back to List", admin_contacts_path , :class => 'btn btn-inverse' %>
		<%= link_to "Delete", [:admin,@contact], method: :delete,  :class => 'btn btn-danger' %>
    </div>
    
</div>
</div>
</div>
