<div class="row-fluid">
	<div class="span6 offset3" >
			<% @page_title = "Edit Contact: #{@contact.name}" -%>

		<div class="well">
			<legend>
				Edit Contact
			</legend>
			<%= render "form" %>

			<br />

		</div>

	</div>

</div>