<div class="row">
	<div class="span6 offset3" >
		<% @page_title = 'New contact' %>

		<div class="well">
			<legend>
				Create Contact
			</legend>
			<%= render "form" %>

			<br />

		</div>

	</div>

</div>