<div class="row">
	<div class="span4 offset4">
<% @page_title = "Delete Opportunity with: #{@opportunity.account.name}" %>


<div class="user delete">
  <h2>Delete Opportunity</h2>
  
 
    <p>Are you sure you want to permanently delete this opportunity?</p>
  
    <p class="reference-name"> <%= @opportunity.description %> </p>
  
    <div class="form-buttons">
    	<%= link_to("Back to List", admin_opportunities_path, :class => 'btn btn-inverse') %>
      <%= link_to 'Delete Opportunity',[:admin,@opportunity],:method => :delete, :class =>"btn btn-primary" %>
    </div>
 
</div>
</div>
</div>
