<div class="row-fluid">
	<div class="span6 offset3" >
		<% @page_title = 'Edit Opportunity' %>

		
			
<div class="well">
		
			<legend>Edit Opportunity</legend>	
			
			<%= render 'form' %>
			
			
<br />
	
		</div>

	</div>

</div>