<div class="row">
	<div class="span6 offset3" >
		<% @page_title = 'New Opportunity' %>

		
			
<div class="well">
		
			<legend>New Opportunity</legend>	
			<%= render 'form' %>
			
			
<br />
	
		</div>

	</div>

</div>