<div class="row">
	<div class="span6 offset3" >
		<% @page_title = "Edit Opportunity" -%>

		<div class="well">
			<%= form_for(:opportunity, :url => {:action => 'update', :id => @opportunity.id} , :html =>{:class=>"form-horizontal"}) do |f| %>
			<legend>
				Edit Opportunity
			</legend>
			<%= render(:partial => 'form', :locals => {:f => f} ) %>

			<div class="form-buttons pull-right" >
				<%= link_to("Back to List", {:action => 'list'}, :class => 'btn btn-inverse') %>
				<%= submit_tag 'Update Opportunity', :class =>"btn btn-primary" %>
			</div>
<br>
			<% end %>
		</div>
	</div>
</div>
