/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */


.adress_text_area {
	
	width: 90%;
	height: 250px;
}

	
em.current {
-webkit-border-image: none;
background-color: white;
border-bottom-color: #DDD;
border-bottom-style: solid;
border-bottom-width: 1px;
border-left-color: #DDD;
border-left-style: solid;
border-left-width: 0px;
border-right-color: #DDD;
border-right-style: solid;
border-right-width: 1px;
border-top-color: #DDD;
border-top-style: solid;
border-top-width: 1px;
color: #000;
cursor: auto;
display: block;
float: left;
font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
font-size: 14px;
font-weight: bold;
height: 38px;
line-height: 38px;
margin-bottom: 0px;
margin-left: 0px;
margin-right: 0px;
margin-top: 0px;
padding-bottom: 0px;
padding-left: 14px;
padding-right: 14px;
padding-top: 0px;
text-decoration: none;

}
em.current:hover {

}

ul.error_form_list {
list-style-type: none;	
	
}
ul.error_form_list li{
text-decoration: underline;	
	
}

