<div class="row">
	<div class="span6 offset3" >
		<% @page_title = 'Create Admin User' %>


			<div class="well">
				
				<legend>
					Create User
				</legend>
				
				
				
				<%= render 'form'  %>

				
	<br />
				
			</div>

	</div>

</div>