<div class="row">
	<div class="span6 offset3" >
		<% @page_title = 'New Business Type' %>

		<div class="well">

			<legend>
				New Business Type
			</legend>

			<%= render 'form'  %>

			<br />

		</div>

	</div>

</div>